.aboutUs {
  overflow: hidden;
  width: 78%;
  margin: 0 auto;
  @at-root #{&}__img {
    padding: 2.1% 0;
    float:left;
    width: 50%;
    @media (max-width: $l) {
      display: block;
      float: none;
      margin: 0 auto;
    }

  }
  @at-root #{&}__info {
    padding: 25% 0 20px 0;
    color: white;
    float: right;
    width: 42%;
    @media (max-width: $l) {
      padding: 20px 0 20px 0;
      float: none;
      margin: 0 auto;
    }
    @media (max-width: $m) {
      margin: 0;
      width: 100%;
    }

  }
  @at-root #{&}__title {
    font-size: 450%;
    font-weight: bold;
    white-space: nowrap;
    padding-bottom: 10px;
    @media (max-width: $l) {
      font-size: 45px;
    }
    @media (max-width: $m) {
      font-size: 30px;
      text-align: center;
    }
  }
  @at-root #{&}__para {
    font-size: 100%;
    font-weight: 100;
    line-height: 150%;
    padding-bottom: 10px;
    @media (max-width: $l) {
      font-size: 14px;
      font-weight: 100;
    }
    @media (max-width: $m) {
      width: 100%;
      padding-right: 0;
      margin-right: 0;
      text-align: justify;
    }
  }
}