@import "variables";
@import "mixins";
.about{
  @include section-center($sectionWidth);

  .row{
    padding: 35px 0 30px 0;
    color: white;
  }
  &__img{
    max-width: 100%;
    height: auto;
    display: block;
  }
  &__title{
    @include section-title($contentTitleFontSize, $fontSizeOnL);
    padding-bottom: 15px;
    padding-top: 145px;
    @media (max-width: $l) {
      padding-top: 0px;
    }
  }
  &__para{
    @include section-para($paraFontSize);
  }
  p:first-of-type{
    padding-bottom: 30px;
  }
}