///// WRAPERS WITH BACKGROUND OF EACH SECTION
header{background:url("../img/bg/bg1.png"); background-size: cover ; width: 100%;}
.aboutUsWrapper{background: url("../img/bg/bg2.png");}
.servicesWrapper{background: url("../img/bg/bg3.png");}
.galleryWrapper{background: url("../img/bg/bg4.png");}
.subscribeWrapper{background: url("../img/bg/bg5.png");}
.blogWrapper{background: url("../img/bg/bg6.png");}
.footerWrapper{background: url("../img/bg/bg7.png");background-size: cover}
.footer2Wrapper{background: url("../img/bg/bg-footer.png");}