///// WRAPERS WITH BACKGROUND OF EACH SECTION
header{background:url("../img/bg/bg1.png");}
.about-wrapper{background: url("../img/bg/bg2.png");}
.services-wrapper{background: url("../img/bg/bg3.png");}
.gallery-wrapper{background: url("../img/bg/bg4.png");}
.subscribe-wrapper{background: url("../img/bg/bg5.png")}
.blog-wrapper{background: url("../img/bg/bg6.png");}
.contact-wrapper{background: url("../img/bg/bg7.png");background-size: cover}
.footer-wrapper{background: url("../img/bg/bg-footer.png");}