.blog {
  @include section-center($sectionWidth);

  &__title {
    @include section-title($contentTitleFontSize, $fontSizeOnL);
    padding-bottom: 50px;
    text-align: center;
    color: white;
    padding-top: 100px;
    @media (max-width: $l) {
      padding-top: 30px;
    }
  }


  &__para {
    margin: 0 auto;
    width: 570px;
    color: white;
    padding-bottom: 50px;
    @include section-para($paraFontSize);
    @media (max-width: $m) {
      width: 100%;
    }
    @media (max-width: $l) {
      padding-bottom: 30px;
    }
  }
  &__info--middle{
    margin: 0 3.5%;
    @media (max-width: $l) {
      margin: 0 auto;
    }
  }

  &__info {
    float: left;
    width: 31%;
    @media (max-width: $l) {
      display: block;
      float: none;
      margin: 0 auto;
      width: 370px;
      padding: 10px 15px 10px 15px;
    }
    @media (max-width: $xs) {
      width: 100%;
    }
  }

  &__bttm-text {
    color: white;
    padding-top: 40%;
    padding-left: 20px;
  }

  &__bot-text {
    font-size: 20px;
    font-weight: bold;
  }

  &__bot-para {
    font-size: 13px;
    padding-top: 6%;
    padding-bottom: 6%;
  }

  &__disc-outer1 {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.95) 100%), url("../img/days/img1.png") no-repeat;
    background-size: cover;
    &:hover {
      cursor: pointer;
      box-shadow: 2px 2px 10px black;
    }
  }

  &__disc-outer2 {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.95) 100%), url("../img/days/img2.png") no-repeat;
    background-size: cover;
    &:hover {
      cursor: pointer;
      box-shadow: 2px 2px 10px black;
    }
  }

  &__disc-outer3 {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.95) 100%), url("../img/days/img3.png") no-repeat;
    background-size: cover;
    &:hover {
      cursor: pointer;
      box-shadow: 2px 2px 10px black;
    }
  }

  &__disc-inner {
    background: url("../img/bg/bgDay.png");
    height: 60px;
    margin: 0 0 0 30px;
    width: 60px;
  }

  &__day-blog {
    color: white;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
  }

  &__month-blog {
    color: white;
    font-size: 21px;
    font-weight: bolder;
    text-align: center;
  }

  &__button-blog {
    text-align: center;
    padding: 50px 0 120px;
    @media (max-width: $l) {
      padding: 30px 0 30px;
    }
  }

  &__btn {
    @include section-button(#f72b3b, $biggerBtnWidth, $biggerBtnHeight);
    font-size: 20px;
    font-weight: lighter;
  }
}