.gallery{
  width: 80%;
  margin: 0 auto;
  @at-root #{&}__img1{
    width: 65.811%;
  }
  @at-root #{&}__img2{
    width: 100%;
  }
  @at-root #{&}__img3{
    width: 48.7%;
  }

  @at-root #{&}__galleryImg:hover {
    cursor: pointer;
    box-shadow: 2px 2px 10px black;
  }
  @at-root #{&}__galleryAbout {
    text-align: center;
  }
  @at-root #{&}__title {
    padding: 100px 0 30px 0;
    font-size: 90px;
    font-weight: bold;
    @media (max-width: $xs) {
      font-size: 50px;
    }
  }
  @at-root #{&}__para {
    margin: 0 auto;
    width: 580px;
    font-size: 17px;
    line-height: 30px;
    padding-bottom: 30px;
    @media (max-width: $m) {
      font-size: 12px;
      line-height: 18px;
      width: 100%;
    }
  }
  @at-root #{&}__topgallery {
    float: left;
    padding-bottom: 1.5%;
  }
  @at-root #{&}__vert {
    width: 31.6%;
    float: right;
    padding-left: 2.5%;
  }
  #topimg{
    margin-bottom: 7.3%;
  }


  @at-root #{&}__botgallery {
    float: left;
    width: 100%;
  }
  #botgallery2{
    float: right;
    margin-left: 2.5%;
  }

  @at-root #{&}__buttonGallery {
    padding: 50px 0 120px 0;
  }
  @at-root #{&}__button {
    margin: 0 auto;
    display: block;
    width: 200px;
    height: 60px;
    font-weight: 100;
    font-size: 20px;
    color: white;
    background-color: #5585a2;
    border: hidden;
    &:hover{
      cursor: pointer;
      box-shadow: 2px 2px 10px #5585a2;
    }
  }
}