@import "mixins";
@import "variables";
.headwrap {
  @include section-center($sectionWidth);

  &__fresh {
    font-family: 'Raleway';
    width: 370px;
    overflow: hidden;
    padding-top: 360px;
    @media (max-width: $l) {
      text-align: center;
      margin: 0 auto;
      padding-top: 150px;
      padding-bottom: 30px;
    }
    @media (max-width: $xs) {
      width: 200px;
    }
  }

  &__title {
    text-align: left;
    @include section-title($headerTitleFontSize, $fontSizeOnL);
  }

  &__para {
    @include section-para($paraFontSize);
    padding: 30px 0;
  }

  &__button {
    @include section-button(#ff6033, $biggerBtnWidth, $biggerBtnHeight);
    @media (max-width: $l) {
      margin: 0 auto;
    }
  }

  &__scroll {
    padding: 285px 0 35px 0;
    text-align: center;
    @media (max-width: $l) {
      display: none;
    }
  }
}
