.services {
  padding-bottom: 10px;
  @include section-center($sectionWidth);
  &__smallHeader{
    display: none;
    @include section-title($contentTitleFontSize, $fontSizeOnL);
    color: white;
    @media (max-width: $l) {
      margin-top: 30px;
      display: block;
      text-align: center;
    }
    @media (max-width: $s) {
      font-size: 40px;
    }
  }

  &__bttns {
    padding: 160px 0 150px 100px;
    width: 38%;
    float: left;
    @media (max-width: $l) {
      width: 400px;
      margin: 0 auto;
      float: none;
      padding: 20px 0 20px 0;
    }
    @media (max-width: $m) {
      width: $buttonServiceMediumWidth;
    }
  }

  &__item {
    padding: 20px 0 0 0;
  }

  &__button {
    background-color: #ffffff;
    border: hidden;
    width: 100%;
    height: 100px;
    font-weight: bold;
    font-size: 20px;
    &:hover {
      cursor: pointer;
      box-shadow: 2px 2px 20px black;
    }
    @media (max-width: $m) {
      width: $buttonServiceMediumWidth;
      font-size: 16px;
      height: 60px;
    }
  }

  &__btnText {
    text-align: center;
    width: 60%;
    padding-left: 8%;
    margin-top: 5px;
    @media (max-width: $m) {
      width: auto;
      font-size: 14px;
      padding-left: 0px;
      padding-top: 6px;
    }
  }

  &__btnImg {
    float: right;
    padding-right: 20px;
    @media (max-width: $m) {
      padding-right: 10px;
    }
  }

  &__our-services {
    overflow: visible;
    text-align: center;
    background: url("../img/tomato.png");
    background-size: contain;
    background-repeat: no-repeat;
    float: right;
    width: 37%;
    min-width: 360px;
    height: 527px;
    @media (max-width: $l) {
      display: none
    }
  }

  &__title {
    @include section-title($contentTitleFontSize, $fontSizeOnL);
    margin-top: 170px;
    color: white;
    float: right;
  }
}