
.services{
  @include section-center($sectionWidth);
  @include service-button;
  &__smallHeader{
    @include section-title($contentTitleFontSize, $fontSizeOnL);
    color: white;
    @media (max-width: $l) {
      margin-bottom: 40px;
    }
    @media (max-width: $s) {
      font-size: 40px;
    }
  }
  &__content{
    margin: 180px 0 150px 0;
    @media (max-width: $l) {
      margin: 30px 0 30px 0;
    }
  }
  &__right{
    background: url("../img/tomato.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    height: 527px;
  }
  &__title {
    @include section-title($contentTitleFontSize, $fontSizeOnL);
    color: white;
    padding-top: 35%;
    text-align: right;
  }
}