.subscribe{
  @include section-center($sectionWidth);
  &__title {
    @include section-title(40px, 40px);
    padding: 145px 0 35px ;
    @media (max-width: $l) {
      padding-top: 20px;
      text-align: center;
    }
  }

  &__para{
    max-width: 540px;
    display: block;
    @include section-para($paraFontSize);
    padding-bottom: 35px;
    @media (max-width: $l) {
      font-weight: 400;
      text-align: center;
      margin: 0 auto;
    }
  }

  &__input{
    font-size: 15px;
    font-weight: 100;
    width: 570px;
    height: 55px;
    @media (max-width: $l) {
      display: block;
      margin: 0 auto;
      width: 350px;
    }
    @media (max-width: $xs) {
      width: 200px;
    }
  }

  &__btn{
    @include section-button(#96b92c, $smallerBtnWidth, $biggerBtnHeight);
    @media (max-width: $l) {
      display: block;
      margin: 0 auto;
    }
  }

  &__sub{
    padding-bottom: 160px;
    @media (max-width: $l) {
      padding: 0 0 20px 10px;
    }
  }
}