$xs: 480px;
$s: 575px;
$m: 769px;
$l: 992px;
$xl: 1200px;
$sectionWidth: 78%;
$headerTitleFontSize: 60px;
$fontSizeOnL: 60px;
$paraFontSize: 17px;
$contentTitleFontSize: 90px;
$buttonServiceMediumWidth: 230px;
$biggerBtnWidth: 200px;
$biggerBtnHeight: 60px;
$smallerBtnWidth: 170px;
$smallerBtnHeight: 55px;