@import "bg";
@import "header";
@import "aboutUs";
@import "services";
@import "gallery";
@import "blog";
@import "subscribe";
@import "footer";
@import "modal";
@import "mixins";
@import "variables";
@import "top-head";
@import "contact";
body {
	font-family: 'Raleway', sans-serif;
	padding: 0px;
	margin: 0;
}


